<tr>
  <td>{{team.code}}</td>
  <td class='value'>
    {{#if wins}}
      {{wins}}
    {{else}}
      --
    {{/if}}
  </td>
  <td class='value'>
    {{#if losses}}
      {{losses}}
    {{else}}
      --
    {{/if}}
  </td>
</tr>
