<table class="metrics">
  <thead>
    <tr>
      {{#each headers}}
        <th>{{this}}</th>
      {{/each}}
    </tr>
  </thead>
  <tbody>
    {{#each entries}}
      <tr>
        <td>{{name-from-code id}}</td>
        <td class="value">
          {{#if hrs}}
            {{hrs}}
          {{else}}
            {{round f1}}
          {{/if}}
        </td>
      </tr>
    {{/each}}
  </tbody>
</table>
