<div class="player">
  {{#if generator}}
    <button {{bind-attr class=':play-button isPlaying:inactive'}} {{action 'play'}}>&#9658;</button>
    <button {{bind-attr class=':pause-button isPlaying::inactive'}} {{action 'pause'}}>&#10074;&#10074;</button>

    <div class="player-progress-bar-container">
      <div class="player-progress-bar" {{bind-attr style="progressBarStyle"}}></div>

      {{input value=progress type="range" class="player-range-input"}}
    </div>
    <div class="label">
      <span class="count">{{count}}</span> Documents
    </div>
  {{else}}
    <p>Waiting for generator...</p>
  {{/if}}
</div>
