<div class="page" id="grid-page">
  <div class="grid">
    <div id="standings-box" class="box cf">
      {{render standings}}
    </div>
    <div class="box grid-33">
      {{bean-leaderboard season=season}}
      {{bean-production  season=season}}
      {{bean-homeruns    season=season}}
    </div>
    <div class="box grid-33">
    </div>
  </div>

  {{bean-player}}
</div>


