<div {{bind-attr class=":quadrant-popup content:player-present"}}>
  {{#if profile}}
    <ul>
      {{#with profile}}
        <li><span>At Bats</span>  {{round atbats}}</li>
        <li><span>Hits</span>     {{round hits}}</li>
        <li><span>Hotness</span>  {{quadrant-value hotness}}</li>
        <li><span>Goodness</span> {{quadrant-value clutchness}}</li>
        <li><span>Hrs</span>      {{round hrs}}</li>
        <li><span>Walks</span>    {{round walks}}</li>
      {{/with}}
    </ul>

    <div class="profile-pic-container">
      <img class="profile-pic" {{bind-attr src=imageUrl}} />
    </div>
  {{else}}
    <img class="loading-spinner" src="/ajax-loader.gif" alt="Loading..." />
  {{/if}}

  <div class="footer">
    {{#if profile}}
      {{profile.fullname}}
    {{else}}
      Loading...
    {{/if}}
  </div>
</div>
