<div class="page" id="quadrant-page">
  <div class="page-content">
    <h1>Magic Quadrant Analysis</h1>
    <div> The Quadrant {{foo}}</div>

    {{render 'filter'}}

    <ul>
      {{#each players}}
        <li>{{name}}: hotness: {{hotness}}, goodness: {{goodness}}</li>
      {{/each}}
    </ul>

  </div>

  {{bean-player}}
</div>
